<div class="bg-dark border-end" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom text-white p-3">Gym System</div>
    <div class="list-group list-group-flush">
        <a href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
        <a href="@Url.Action("Index", "Gym")" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">
            <i class="fas fa-building me-2"></i> Gyms
        </a>
        <a href="@Url.Action("Index", "Member")" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">
            <i class="fas fa-users me-2"></i> Members
        </a>
        <a href="@Url.Action("Index", "Package")" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">
            <i class="fas fa-box me-2"></i> Packages
        </a>
        <a href="@Url.Action("Index", "Staff")" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">
            <i class="fas fa-user-tie me-2"></i> Staff
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">
            <i class="fas fa-money-bill me-2"></i> Payments
        </a>
         <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">
            <i class="fas fa-clock me-2"></i> Attendance
        </a>
    </div>
</div>
